<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146706591040-lama63cptun2vamlegvaitie5304ua2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146706591040-lama63cptun2vamlegvaitie5304ua2i</string>
	<key>API_KEY</key>
	<string>AIzaSyBvuLAZSSEBFOH4j7XFssOJkJgvLGf2GiI</string>
	<key>GCM_SENDER_ID</key>
	<string>146706591040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlog</string>
	<key>PROJECT_ID</key>
	<string>flutterblog-b0bed</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterblog-b0bed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146706591040:ios:7ee9ea9b05704f0e0d1ea5</string>
</dict>
</plist>